.container_principal {
  @apply container mx-auto my-14 p-11 space-y-8  ;
  
}
.titulo{
  @apply  text-center font-semibold mb-2 rounded-lg bg-white xl:w-1/2 mx-auto xl:text-2xl
}
.contenedores_GIC{
 @apply w-1/2 p-4 rounded-md mx-2 ;

 background-color: #a7dbeb;
}
.orden{
  @apply flex space-x-4 ;
}
.titulo_GIC{
  @apply text-center font-semibold mb-2 rounded-lg bg-white xl:w-1/2 mx-auto xl:text-2xl ;
}
.content_GICF{
  @apply bg-white p-2 xl:p-12 h-60 text-center border-2 border-gray-400 overflow-y-auto rounded-md whitespace-pre-wrap;
}
.contenedores_prim_sgte{
  @apply w-1/2 p-4 rounded-md overflow-y-auto max-h-80 mx-2;
  background-color: #fcf5c7 ;
}
.tabla_m{
  @apply w-full p-4 rounded-md overflow-x-auto;
  background-color: #ffa69e  ;
}
.titulo_tabla_analisis{
  @apply text-center font-semibold mb-2 rounded-lg bg-white w-1/2 mx-auto xl:text-2xl ;
}
.analizador{
  @apply w-full p-4 rounded-md flex flex-col;
  background-color: #adf7b6;
}

.input_analizador{
  @apply  p-2 rounded-b-md  rounded-t-none mb-4 w-1/3 mx-auto  text-2xl;

}
.titulo_input{
  @apply text-center font-semibold rounded-t-lg bg-white w-1/3 mx-auto xl:text-2xl ;
}

input:focus {
  outline: none;
}

.boton_analizador{
  @apply  hover:bg-green-700 text-white font-bold py-2 px-4 rounded w-1/4 mx-auto;

  background-color: #55d6c2 ;
}

.container_aviso{
  @apply bg-white p-2 xl:p-12 h-60 text-center border-2 border-gray-400 overflow-y-auto rounded-md whitespace-pre-wrap;
  
}
.aviso{
  @apply text-center font-semibold mb-2 bg-white rounded-lg w-1/2 mx-auto xl:text-xl   text-gray-500;
}